body {
  background: #f4f4f4;
}
.banner {
  font-weight: bold;
  line-height: 40px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #16a085;
}
@media (min-width: 768px) {
  .element {
    font-size: 1.2rem;
  }
}
